// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,500;0,700;0,800;0,900;1,300;1,400&display=swap');

html {
    -webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Roboto', sans-serif;
  	overflow-x: hidden;
  	overflow-wrap: break-word;
  	word-wrap: break-word;
	 -ms-word-break: break-all;
	word-break: break-word;
	color: $black;
	font-size: 16pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 28pt;
	color: $navy;
	font-weight: 900;
}

h2 {
	font-size: 24pt;
	color: $subheading;
	font-weight: 900;
}

h3 {
	font-size: 18pt;
	font-weight: 500;
}

h4 {
	font-size: 15pt;
	font-weight: 500;	
}

h5{
	font-size: 14pt;
}


/*main nav*/
#main-nav {
	min-height: 150px;
	background-image: url('../imgs/main_banners/colourblocks_option3@2x.png');
	background-position: center center;
	background-size: cover;
}

.navbar-brand {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-size: 28pt;
	font-weight: 900;
}

#main-menu{
	background-color: $primary;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

/*HOME*/

.chapter-menu {
	margin: 80px 0;
}

.chapter-list {
	height: 430px;
	margin-bottom: 40px;
	position: relative;
	border: 1px solid #efefef;
	transition: 0.6s linear;
}

.chapter-list:hover { 
	border: 1px solid $orange; 
}


.chapter-summary {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	margin: 10px 20px;
}

.chapter-list h2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  background-color: #fff;
}

.chapter-list img {
	object-fit: cover;
	height: 350px;
	width: 100%;
	position: absolute;
	left:0;
	right: 0;
	z-index: 1;
}

ol, ul {
	margin-top: 30px;
}


.module-content, .entry-content, .lesson-content {
	color: $black;
}


.module-content li, .entry-content li, .lesson-content li{
	margin-bottom: 12px;
}

.module-content a, .entry-content a, .lesson-content a {
	text-decoration: underline;
	transition: all .3s;
}

.module-content a:hover, .entry-content a:hover, .lesson-content a:hover {
	background-color: $yellow;
}


//header 

.navbar-brand {
	display: inline-block;
    width: 200px;
    height: 80px;
    z-index: 100;
}

.navbar-brand img{
	max-height: 35px;
	max-width: 400px;
    position: absolute;
    top: 15px;
}


//TABLE

.section-content table td, .section-content table th {
	min-width: 200px;
	padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/*Chapter*/
.voices-row h2 {
	display: inline-block;	
}

.btn-voice {
	width: 100%;
	margin: 10px;
}

.hide {
	display: none;
}

/*MODULE*/

.module-title {
	// font-weight: 900;
	// border-bottom: 2px solid $grayline;
	position: relative;
}

.module-content {
	padding-right: 40px;
}


.authors-block h2 {
	color: $subheading;
	font-size: 16pt;
	margin-bottom: 40px;
}

.learning-outcomes-block {
	background-color: $primary;
	padding: 20px;
	color: #fff;
	margin: 40px 0;
	//background-image: url(../imgs/wc/brain.png);
	background-position: 96% 30px;
	background-size: 120px;
	background-repeat: no-repeat;
	padding-left: 40px;
}

.learning-outcomes-block h2 {
	color: #fff;
}

.learning-outcomes-list {
	width: 82%;
	padding-left: 20px;
}

.learning-outcomes-block li {
	margin: 10px 0;
}

//intro media
.intro-media {
	display: block;
	margin: 30px 0;
}

//glossary
.glossary {
	margin: 80px 0;
	position: relative;
}

.glossary h2 {
	color: #fff;
	background-color: $primary;
	font-weight: 900;
	padding: 20px 20px 20px 90px;
	font-size: 2rem;
	position: relative;
}

.glossary .btn-plus {
	width: 100%;
	font-size: 2rem;
	text-decoration: none;
	color: #fff;
}


.glossary h2 .btn-plus.collapsed:after {
	content: '+';
	display: inline-block;
	font-size: 1em;
	color: #fff;
	float:right;
	margin-left: 20px;
}

.glossary h2 .btn-plus:after {
	content: '-';
	display: inline-block;
	font-size: 1em;
	color: #fff;
	float:right;
	margin-left: 20px;
}

.glossary a {
	font-weight: 700;
	text-decoration: underline;
	// text-decoration-color: $orange;
}

.glossary ul {
	margin: 10px 0;
	padding: 0;
	list-style-type: none;
}

.glossary li {
	margin: 15px 0;
	padding: 0 0 0 10px;
	border-left: 3px solid $orange;
}


//side images

.side-img {
	position: absolute;
	left: -30px;
	top: -5px;
	height: 88px;
	width: 88px;
	z-index: 100;
}

//recommended readings 
.readings {
	margin: 80px 0;
	position: relative;
}

.readings h2 {
	color: #fff;
	background-color: $primary;
	font-weight: 900;
	padding: 20px 20px 20px 90px;
	font-size: 2rem;
	position: relative;
	overflow: visibile;
}


.readings li {
	margin: 10px 0;
}

//resources
.resources {
	margin: 80px 0;
	position: relative;
}

.resources h2 {
	color: #fff;
	background-color: $primary;
	font-weight: 900;
	padding: 20px 20px 20px 90px;
	font-size: 2rem;
	position: relative;
}

.resources li {
	margin: 10px 0;
}

//lessons list 
.lessons {
	margin: 40px 0;
}

.lessons ul {
	list-style: none;
}

.lessons li {
	margin: 10px 0;
}

.here {
	font-weight: 700;
	background-color: $lightprimary;
	padding: 5px 10px 5px 15px;
}



/*****************************LESSON SINGLES***************************/

blockquote {
  background: $lightaqua;
  border-left: 10px solid $primary;
  margin: 40px 0;
  padding: 10px 20px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1.4em;
  line-height: 1.5;
  font-weight: 400;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

// blockquote:before {
//   color: $primary;
//   content: open-quote;
//   font-size: 4em;
//   line-height: 0.1em;
//   margin-right: 0.25em;
//   vertical-align: -0.4em;
// }

blockquote p {
  display: inline;
}

.attribution {
	font-size: .8em;
    margin: 20px 0 20px 0;
    display: block;
    text-align: right;
    width: 100%;
}

.lesson-content {
	padding-right: 40px;
}

//sections
.section-title h2 {
	margin-top: 40px;
}

.section-activity {
	border-left: 10px solid $yellow;
	padding: 20px;
	background-color: $primary;
	//background-image: url(../imgs/wc/lapizder.png);
	background-position: 98% 20px;
	background-size: 100px;
	background-repeat: no-repeat;
	color: #fff;
	padding-left: 40px;
	margin: 40px 0;
}

.section-activity h2 {
	color: #fff;
	margin-top: 15px;
}

.section-activity p {
	width: 80%;
}

.section-activity p a {
	text-decoration: underline;
	color: #fff;
}


//video fluid 

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    box-shadow: 8px 8px 0px $red;

}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

//people 

.person {
	margin: 40px 0;
	padding: 0 20px;
}

.bio-pic {
	object-fit: cover;
	width: 100%;
	height: 250px;
}

//sidebar 

#right-sidebar {
	padding-left: 40px;
	padding-top: 40px;
}

.logo {
	display: block;
}


.lessons {
	box-shadow: 2px 2px 15px -7px #000000;
	border-top: 10px solid $yellow;
	padding: 20px 15px;
}

.lessons h2:after {
	content: '01101100 01100101 01110011 01110011 01101111 01101110 01110011';
	display: block;
	color: $gray;
	font-size: 10px;
	opacity: .3;
	margin-top: -5px;
	margin-left: 2px;
}

.lessons ul {
	margin-left: 10px;
	padding-left: 0;
}

.indent-1 {
	margin-left: 20px;
}

.indent-2 {
	margin-left: 40px;
}
.indent-3 {
	margin-left: 60px;
}
.indent-4 {
	margin-left: 80px;
}

//FOOTER
#wrapper-footer {
	background-color: $primary;
	color: #fff;
	position: relative;
	margin-top: 100px;
}



#wrapper-footer a, #wrapper-footer h2,#wrapper-footer h3{
	color: #fff;
}

//GRID LAND

#thinking-grid {
	position: relative;
    height: 90vh;
}

#toolbox {
	z-index: 1000;
}

.axis {
  background-image: url(../imgs/grid.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.draggable {
  display: inline-block;
  margin: 10px;
  padding-top: 30px;
  z-index: 1000;
  background-color: $primary;
}

.draggable:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:30px;
  z-index: 0;
  background-image: url(../imgs/drag.svg);
  background-repeat: no-repeat;
  background-position: 3px;
  background-size: 30px;
  padding: 5px;
  cursor:grab;
}

textarea {
  width: 320px;
  margin: 0;
  font-size: 1.2em;
  resize: both;
  overflow: auto;
  background-color: #fff;
  margin: 5px 10px;
}


#y-top,#y-bottom {
  background-color: lightblue;
  position: absolute;
  padding: 10px;
}


.y-centered {
  position: fixed;
  left: 50%;
  margin-top: -50px;
  margin-left: -115px;
  text-align: center;
}

.label {
  width: 200px;
  min-height: 50px;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1;
}

.top {
  top: 3%;
}

.bottom {
  bottom: 0;
}

.x-left {
  position: absolute;
  left: 50px;
  top: 50%;
  text-align: left;
}

.x-right {
  position: absolute;
  right: 50px;
  top: 50%;
  text-align: right;
}

#make {
  background-color: #ffa300;
  color: #000;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 10px 0 0 0;
  transition: .4s all;
  font-size: 1em;
  font-weight: 600;
  width: 200px;
  margin-left: auto;
  display: block;
}

#make:hover {
  background-color: $primary;
  color: #fff;
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
	#main-menu{
		padding: 20px;
	}
	.navbar-brand img {
		max-width: 70%;
	}
	#right-sidebar .logo {
		display: none;
	}
	.module-content {
		padding-right: 0;
	}
	.readings h2, .glossary .btn-plus, .resources h2 {
		font-size: 1.5rem;
	}
 }


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	

	#navbarNavDropdown {
	    position: absolute;
	    right: 90px;
	    top: -20px;
	    width: 100%;
	}

 }
